/*Colors*/

$color-primary: grey;
$color-secondary: blue;
$color-tertiary: green;

/*Colors - Weather App*/
$wa-color-neutral-900: #02012C;
$wa-color-neutral-800: #262540;
$wa-color-neutral-700: #302F4A;
$wa-color-neutral-600: #3C3B5E;
$wa-color-neutral-300: #ACACB7;
$wa-color-neutral-200: #D4D3D9;
$wa-color-neutral-0: #FFFFFF;
$wa-color-orange-500: #FF820A;
$wa-color-blue-700: #2B1B9C;
$wa-color-blue-500: #4658D9;

/*Colors - Fine Dining Website*/
$fd-color-bg-dark: #1A1A1A;
$fd-color-bg-light: #2C2C2C;
$fd-color-font-light: #FFF8E1;
$fd-color-font-accent: #F3EDD7;
$fd-color-font-dark: #D5CFBC;