<section weather-app-wrapper>
  <atomic-headline class="headline" [headingText]="'Wie wird das Wetter heute?'" [level]="2"></atomic-headline>
  <atomic-search-bar (search)="onSearch($event)"></atomic-search-bar>
  <atomic-forecast-card 
    [city]="currentCity" 
    [temperature]="currentTemperature" 
    [condition]="currentCondition" 
    [weatherIcon]="weatherIcon">
  </atomic-forecast-card>
  <div class="info-cards-wrapper">
  <atomic-info-card 
    [label]="'Gefühlte Temp.'" 
    [value]="feelsLike ? feelsLike.toString() : ''" 
    [unit]="'°C'">
  </atomic-info-card>
  <atomic-info-card 
    [label]="'Luftfeuchte'" 
    [value]="humidity ? humidity.toString() : ''" 
    [unit]="'%'" >
  </atomic-info-card>
  <atomic-info-card 
    [label]="'Windgeschw.'" 
    [value]="windSpeed ? windSpeed.toString() : ''" 
    [unit]="'m/s'">
  </atomic-info-card>
  <atomic-info-card 
    [label]="'Min/Max Temp'" 
    [value]="(tempMin != null ? tempMin.toString() : '') + ' / ' + (tempMax != null ? tempMax.toString() : '')" 
    [unit]="'°C'" >
  </atomic-info-card>
  </div>
</section>