.headline {
    font-size: 3.25rem;
    margin: 0 48px;
    text-align: center;
    width: 100%;
}

atomic-search-bar {
    display: block;
    margin-bottom: 32px;
    width: 100%;
}

atomic-forecast-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}